@import 'compass/css3';
@import "compass/utilities/general/clearfix";

body {
	background: #eee;
}

label {
	display: inline-block;
	width: 200px;
}

.product-list {
	li {
		margin-bottom: 10px;
		display: block;

		.title {
			width: 300px;
			display: inline-block;
			text-align: left;
		}
	}
}

.container {
	background: #eee;
	padding: 20px;
	position: relative;
}

.btn-toggle {
	position: absolute;
	top: 0px;
	right: 10px;
	z-index: 2;
}

.debug {
	background: red;
	padding: 4px 20px;
	border-radius: 5px;

	a {
		color: white;
	}
}

.top-bar {
	@include clearfix;
	padding: 10px;

	div {
		float: left;
	}

	.logo {
		width: 150px;
		font-size: 30px;
		text-align: center;
	}

	.search {
		width: 450px;
		text-align: center;
	}

	.cart {
		width: 300px;
		float: right;
	}
}
